.card {
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 28%, 44%, 0.4);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;

}

.card .card-image {
  max-width: 60%;
  height:auto ;
  margin-bottom: 10px ;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3em;
  margin:0;
  color: hsl(0, 0%, 0%);
}

.card .parrafo{
  font-family: Arial, Helvetica, sans-serif;

}